{% extends 'base.html.twig' %}

{% block explanation %}
<div class="explanation">
    This is the example page in the tzunghaor/settings-example application.
</div>
{% endblock %}

{% block body %}
    {% if app.user %}
        <h3>
            Hi, {{ app.user.userIdentifier }}!
            {% if currentProject %}
                You are in project "{{ currentProject.name }}".
            {% else %}
                You did not choose a project.
            {% endif %}
        </h3>
    {% endif %}

    {% if projects %}
    <div>
        Choose project:
        <ul>
            <li>
                -- <a href="{{ path('example') }}">NO PROJECT</a> --
                {% if not currentProject %}<<<{% endif %}
            </li>
            {% for project in projects %}
            <li>
                <a href="{{ path('example', { 'project': project.name }) }}">
                    {{ project.name }}
                </a>
                {% if currentProject and project.name == currentProject.name %}<<<{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% for collectionName,box in boxes %}
        <div class="box_wrapper">
            <div class="{{ collectionName }}_box">
                <div class="explanation">
                    The display and content of this box are controlled by the "{{ collectionName }}"
                    settings collection.
                </div>

                <h3>{{ box.content.title }}</h3>
                {% for message in box.content.messages %}
                    <div class="message message_{{ message.type }}">{{ message.text }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        a {
            color: #114455;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .box_wrapper {
            margin: 3em 0;
        }

        {% for collectionName,box in boxes %}
            .{{ collectionName }}_box {
                background: #EEEEEE;
                padding: {{ box.display.padding }}pt;
                margin: {{ box.display.margin }}pt;
                {% for which in box.display.borders %}
                    border-{{ which }}: 4pt solid {{ box.display.borderColor }};
                {% endfor %}
            }
        {% endfor %}

        .message {
            padding: 0.3em 0.5em;
            margin: 0.4em 0;
            border-style: solid;
            border-width: 1px;
        }

        .message_info {
            background: lightblue;
            border-color: darkblue;
        }

        .message_success {
            background: lightgreen;
            border-color: darkgreen;
        }

        .message_error {
            background: pink;
            border-color: darkred;
        }
    </style>
{% endblock %}
