{% extends 'base.html.twig' %}

{% block explanation %}
<div class="explanation">
    This is the example page in the tzunghaor/settings-example application.
</div>
{% endblock %}

{% block body %}
    {% for collectionName,box in boxes %}
        <div class="{{ collectionName }}_box">
            <div class="explanation">
                The display and content of this box are controlled by the "{{ collectionName }}"
                settings collection.
            </div>

            <h3>{{ box.content.title }}</h3>
            {% for message in box.content.messages %}
                <div class="message message_{{ message.type }}">{{ message.text }}</div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        {% for collectionName,box in boxes %}
            .{{ collectionName }}_box {
                background: #EEEEEE;
                padding: {{ box.display.padding }}pt;
                margin: {{ box.display.margin }}pt;
                {% for which in box.display.borders %}
                    border-{{ which }}: 1px solid {{ box.display.borderColor }};
                {% endfor %}
            }
        {% endfor %}

        .message {
            padding: 0.3em 0.5em;
            margin: 0.4em 0;
            border-style: solid;
            border-width: 1px;
        }

        .message_info {
            background: lightblue;
            border-color: darkblue;
        }

        .message_success {
            background: lightgreen;
            border-color: darkgreen;
        }

        .message_error {
            background: pink;
            border-color: darkred;
        }
    </style>
{% endblock %}
