{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <h1>
                Example application for
                <a href="https://github.com/tzunghaor/settings-bundle">tzunghaor/settings-bundle</a>
            </h1>

            <p>
                The source code of this example is <a href="https://github.com/tzunghaor/settings-example">here</a>.
            </p>

            <p>
                Below are two iframes. The left contains a page in this application, the right contains the
                settings editor provided by tzunghaor/settings-bundle and customised in this app. This way you can
                see your settings and their effect side by side. After you change the settings, you have to reload
                the left iframe (or the whole page) for your changes to take effect.
            </p>

            <div class="auth">
                {% if app.user %}
                    Logged in user: <strong>{{ app.user.userIdentifier }}</strong>.
                    [ <a href="{{ path('login') }}">Log out</a> ]
                {% else %}
                    Not logged in.
                {% endif %}

                - Login as user:
                {% for userId,loginLink in loginLinks %}
                    [ <a href="{{ loginLink }}">{{ userId }}</a> ]
                {% endfor %}
            </div>
        </div>
        <div class="iframes">
            <iframe id="example_frame" src="{{ path('example') }}"></iframe>
            <iframe id="editor_frame" src="{{ path('tzunghaor_settings_edit', {'collection': collection}) }}"></iframe>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <style>
        html, body {
            margin: 0;
            height: 100%;
            background-color: #114455;
            color: white;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            max-width: 100em;
            margin: auto;
        }

        .header {
            padding: 1em;
        }

        .header h1 {
            font-size: 180%;
            margin: 0 0 0.5em 0;
        }

        .header a {
            color: #b6dfee;
            font-weight: bold;
            text-decoration: none;
        }

        .header a:hover {
            color: white;
        }

        .auth {
            padding-top: 1em;
            border-top: 1px dashed white;
        }

        .iframes {
            flex: 1;
            display: flex;
            gap: 1em;
            padding: 0 1em;
        }

        iframe {
            border: none;
            background-color: white;
        }

        iframe#example_frame {
            flex: 2;
        }

        iframe#editor_frame {
            flex: 3;
        }
    </style>
{% endblock %}
